<article class="mb-4 pb-2">
  {{ $excerptLength := .Site.Params.excerpt_length | default 180 }}
  {{ $excerpt := .Summary }}
  {{ $paragraphs := findRE `(?s)<p>.*?</p>` .Content 1 }}
  {{ if gt (len $paragraphs) 0 }}
    {{ $excerpt = index $paragraphs 0 }}
  {{ end }}
  <h2 class="h4"><a class="post-title" href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
  <div class="mb-3 post-meta">
    <a href="{{ `author/` | absLangURL }}{{ .Params.Author | urlize | lower }}">{{ .Params.Author | title }}</a> <span class="mx-1">|</span>
    {{ .PublishDate.Format "Jan 2, 2006" }} <span class="mx-1">|</span> {{ range .Params.Categories }}
    <a href="{{ `categories/` | absLangURL }}{{ . | urlize | lower }}">{{ . | title }}</a>
    {{ end }}
  </div>
  <p>{{ $excerpt | plainify | htmlUnescape | truncate $excerptLength }}</p>
  <a href="{{ .Permalink }}" class="btn btn-sm btn-transparent pl-0">read more</a>
  <div style="border: 1px #eee solid; margin-top:40px"></div>
</article>
