<section>
  <div class="container bannerpad">
    <div class="list-row">
      <h1 class="mainpagetitle">{{ .Title }}</h1>
      <h4 class="banner-social">
        {{ "<!-- about me -->" | safeHTML }} {{ with site.Params.social }}
        <ul class="list-unstyled list-inline">
          {{ range . }}
          <li class="banner-social mr-3">
            <a href="{{ .link }}" aria-label="Social Profile"><i class="{{ .icon }}"></i></a>
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </h4>
    </div>
    <p class="banner-para">This site is a repository of guides, image downloads, and how to articles. You can browse the site by navigating the five sections on the top bar or using the search in the top right. I've been in IT for over 20 years and make articles and videos on YouTube to share my knowledge.</p>
  </div>
</section>
