<!-- main footer -->
<footer class="py-4 bg-light border-top">
  <div class="container">

    <!-- Top row: logo | footer menu | social -->
    <div class="row align-items-center">

      <!-- Logo -->
      <div class="col-lg-4 text-center text-lg-start mb-4 mb-lg-0">
        <a href="{{ site.Params.footer_image_link }}" class="d-block">
          <img
            loading="lazy"
            src="{{ site.Params.footer_image }}"
            class="img-fluid"
            alt="{{ site.Title }}"
          />
        </a>
      </div>

      <!-- Footer menu -->
      <div class="col-lg-4 text-center mb-4 mb-lg-0">
        <ul class="list-inline mb-0">
          {{ range site.Menus.footer }}
            <li class="list-inline-item">
              <a class="nav-link d-inline-block p-2" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </div>

      <!-- Social icons -->
      <div class="col-lg-4 mb-4 mb-lg-0">
        <ul class="list-inline social-icon mb-0 d-flex justify-content-lg-end justify-content-center gap-3">
          {{ range site.Params.social }}
            <li class="list-inline-item m-0">
              <a
                href="{{ .link | safeURL }}"
                rel="noopener noreferrer"
                target="_blank"
                aria-label="social-profile"
              >
                <i class="{{ .icon }}"></i>
              </a>
            </li>
          {{ end }}
        </ul>
      </div>

    </div>

    <!-- Bottom row: copyright -->
    <div class="text-center mt-4">
      <span>
        Copyright &copy; {{ dateFormat "2006" now }}
        {{ site.Params.copyright | markdownify }}
      </span>
    </div>

  </div>
</footer>
<!-- /footer -->